.col-xs-12.col-sm-7
  %p 
    We’re thrilled to announce we successfully reached a stage of readiness for Early Adopters. We consider this being a very significant milestone as it means Androcommerce platform is finally ready to on-board the first lucky 100 vendors!
    %br
    %br
    This is your chance to join the first glorious cohort bravely front running mobile e-commerce trend, to be our VIP client. They say: with power comes responsibility. We say: with status come perks! And you shall not be disappointed. We won’t be dispatching limo to your door, but we’ll do much better than that:
    %br 
    .text
      %ul.bulleted-list
        %li We’ll give you totally free use of Androcommerce without limits for the duration of 1 year
        %br
        %li You’ll get iOS app of your storefront in addition to Android app. Free of charge.
        %br
        %li We’ll offer you custom look-and-feel of your storefront. Our developers will be pleased to sort it out for you. Free of charge.
        %br
        %li You’ll get our help in registering your storefronts at App Store and Play Market. And, as you’ve guessed it, free of charge!
        %br
        %li More importantly we’ll listen intently to your feedback and shape Androcommerce around your personal needs.

    %a#form{ :name => 'form' }
    %br
    %p Not bad, huh?
    %br
    %h4 So, we are ready to roll. You are ready to jump in? Just fill the form:


.col-sm-5.hidden-xs
  = image_tag "flag.gif", class: 'img-responsive'



.col-xs-12

  = form_for @adopter, :url => adopters_path(@adopter, :anchor => 'form') do |f|
    .col-sm-6
      .form-group
        = f.label :name
        .red 
          *
          = "- " + @adopter.errors[:name][0] if @adopter.errors[:name][0]
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :country
        .red 
          *
          = "- " + @adopter.errors[:country][0] if @adopter.errors[:country][0]
        = f.text_field :country, class: 'form-control'
    .col-sm-6
      .form-group
        = f.label :email
        .red 
          *
          = "- " + @adopter.errors[:email][0] if @adopter.errors[:email][0]
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :city
        = f.text_field :city, class: 'form-control'

    .col-sm-6
      %h4 How can you describe yourself as a vendor?
      .form-group
        = f.check_box :existing_local_storefront
        = f.label :existing_local_storefront
      .form-group
        = f.check_box :service_provider
        = f.label :service_provider 
      .form-group
        = f.check_box :digital_content_seller
        = f.label :digital_content_seller  
      .form-group
        = f.check_box :future_or_beginning_vendor
        = f.label :future_or_beginning_vendor   

      .form-group
        = f.label "Website or social page of your business"
        = f.text_field :website, class: 'form-control'
    
    .col-sm-6
      Fields marked with 
      .red * 
      are mandatory
      %br
      %br
      = f.submit "Register and turn on engines of Androcommerce", class: 'btn-default btn-lg btn-enroll'
