.row
  .col-xs-12.col-sm-4
    = image_tag "dual_robot.png", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Basics of Promotion
    %p
      Androcommerce freemium is a great tool to lift you of the ground. Your ecommerce start-up will get serious boost with personal Android storefront app. The app will be located at dedicated page of Androcommerce Market - a portal similar to Google's Play Market.
      %br
      Your storefront app will have dedicated web link for direct download. Further, each product placed by you at your storefront will be accessible via dedicated page under Androcommerce Market portal.
      %br
      %a{:name => 'inbound_marketing'}
      So nothing stops you from promoting both your storefront app and your products using Twitter, Facebook, G+ or any other social platform, whatever tickles your fancy. There is no cost to it, so feel free to form a group of enthusiasts around your store-front and then be in touch with your followers.
      

.row
  .col-xs-12.col-sm-4
    = image_tag "image_office_tablet.png", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Inbound Marketing
    %p
      Another terrific source for promotion is Inbound Marketing, which is embedded feature of Androcommerce free plan. Simply put this is a blog injected into your storefront app. With this tool you can talk to your customer and be really creative whilst doing so. For example you may wish to announce world-class event, publish photos of new products, invite enthusiasts for a meat-up, publish fresh reviews, or just throw in some discount coupons. This information will be beamed instantly to all installed storefront apps via Push Notifications. So you will be in touch with your customers who presumably will be flocking after you (their cherished leader and subject matter expert). We are strong believers in Inbound Marketing. Just give it a go!

.row
  .col-xs-12.col-sm-4
    = image_tag "stores_image.png",  class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Use Mobile App Markets
    %p
      The next step is to build up your presence on existing mobile app markets. It is not difficult to create Android Developer account and upload your store-front there. But be aware of pitfalls of globalisation, pay special attention to audience of your app. If you are a local vendor - reduce your audience to town or region. This would rank your app above global competition. If you want to reach out to young and beautiful crowd dazzled by Cupertino, then register Apple Developer Account. We would advise to add DroidBrew representative as your team member. This would give us ability to upload your store-front to App Store. Then again, as per Play Market, go local, conjure local community to your side.

.row
  .col-xs-12.col-sm-4
    = image_tag "upward-graph.jpg", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Professional Promotion
    %p
      Formidable herds of marketing professional roam Cyberspace. For sure they can help to promote your e-commerce business to infinity and beyond. As you’ll have Androcommerce web pages with storefronts and products, these good folks can route serious traffic to your pages. If you don't know where to start, let us nudge you towards Facebook App Advertisement. We had good experiences with this Facebook platform. For example one can adjust geographical location and even demographics of target audience for the ad. We saw FB black magic engine cranking up traffic really well.

.row
  .col-xs-12.col-sm-4
    = image_tag "learn_androcommerce_image_tablet.jpg", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8.text
    %h2 Best Practices
    %p
      Here are some recommendations for good marketing practices for your storefront:
      %ul
        %li - Be approachable
        %li - Be original
        %li - Start by exploring your existing network
        %li - Use social networks as a source of new customers
        %li - Use local media 
        %li - Scale to country-wide when you know you are ready
        %li - Scale to world-wide when you know your business can support the demand
  
%br
%br
= render 'shared/enroll_button'