.row
  .col-xs-12.col-sm-4
    = image_tag "dual_robot.png", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Basic Promotion
    %p
      Androcommerce proposes great start as freemium. Here you're starting your ecommerce startup with personal Android storefront app. This app is located on dedicated page of Andocmmerce Market - website similar to Google's Play Market.
      %br
      Your storefront app has dedicated url for download. Also each product submitted by you to your storefront receives dedicated page under Androcommerce Market too.
      %br
      So nothing stops you from promoting both your storefront app and your products using Twitter, Facebook, G+ or any other social channels.<br/>You can do it for free. Just create enthusiastic group around your storefront and be in touch with your followers.

.row
  .col-xs-12.col-sm-4
    = image_tag "office_image.jpg",  class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Use Mobile App Markets
    %p
      The next step is maintaining your own brand inside existing mobile app markets
      %br 
      Create Android Developer account and upload your storefront there. Pay special attention to audience of your app. If you are local vendor - reduce your audience to City or region. This will rank your app above global concurents.
      %br 
      Register Apple Developer Account. Add DroidBrew representative as your team member. It will give us ability to upload your storefront to App Store. And use the same advise as for Plqy Marlet: use your locality as additional promotion force.

.row
  .col-xs-12.col-sm-4
    = image_tag "stores_image.jpg", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Professional Promotion
    %p
      There are a lot of professional advertisers. For sure they can promote your ecommerce business up to sky. You have web pages with your storefront and products. They can rise high traffic to theese pages. 
      %br 
      If you don't know how to start - look at Facebook App Advertisement. We had very good experience with this advertising platform. You can adjust geography location and demographics of audience for your ads.

.row
  .col-xs-12.col-sm-4
    = image_tag "upward-graph.jpg", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8
    %h2 Inbound Marketing
    %p
      Another terrific source for promotion is Inbound Marketing - embedded feature of Androcommerce free plan. Simply put this is blog injected into your storefront app. You can decorate your sales into mentorship in your area. You can put announcements of world-class events, photos of new products, reviews and head-to-head comparisons of brand new products, or just discount coupons in your shop. This information will be immediately delivered to all installed storefront apps via Push Notifications. So you will be in touch with your customers and they will follow you as an expert and local leader in direction parallel.

.row
  .col-xs-12.col-sm-4
    = image_tag "learn_androcommerce_image.jpg", class: 'img-responsive img-center img-padding-top'
  .col-xs-12.col-sm-8.text
    %h2 Best Practices of Marketing
    %p
      Here is some recommendations of maintaining good marketing practices for your storefront:
      %ul
        %li - Be friendly
        %li - Be original
        %li - Start by exploring your existing network
        %li - Use social networks as source of new customers
        %li - Use local media 
        %li - Scale to country-wide when you know you are ready
        %li - Scale to world-wide when you know your business can support the demand