%h1 Benefits for beginning vendors
%p
  %b Atracting your very first clients.
  %br
  Androcommrece is ideal platform for launching the new mobile store or service. For beginning you'll need to use our on-line wizard to create your store, and then you populate it with goods or services. Once done it is time to publish. Once submitted our team will review your shop and within couple of days create your very own public page at Androcommerce Market. From that point onwards you are the master of your mobile destiny. You may publish the link to your front-store app on any social sites. It’s all for free! Follow the best practices and may the fortune be smiling upon your venture.

.col-sm-4.hidden-xs
  = image_tag "beginning.gif", class: 'img-responsive'

%h2 Special features for beginning vendors
.col-xs-12.col-sm-8.text
  %br
  %p
    %ul 
      %li 
        = "- Wizard-driven creation of new on-line store"
      %li
        = "- Simple Paypal integration"
      %li 
        = "- Convenient use of smartphone camera to take picture for your catalogue. Use them for products and categories."
      %br
      %br
      %br

= render 'shared/enroll_button'