%h2 Benefits for begginning vendors
%p
  Atracting your very first clients.
  %br
  Androcommrece is ideal platform for launching the new mobile store or service. For beginning you'll need to use our on-line wizzard to create your store, then you populate it with goods or services. Once done it is time to publish. Once submitted our team will review your shop and within couple of days create your very own public page at Androcommerce Market. From that point onwards your are the master of your mobile destiny. You may publish the link to your front-store app on any social sites. Its all for free! Follow the best practices and may the fortune be smiling upon your venture.

.col-sm-4.hidden-xs
  = image_tag "acomm_ship.png", class: 'img-responsive'

.col-xs-12.col-sm-8.text
  %br
  %p
    = "Special features for begginning vendors"
  %p
    %ul 
      %li 
        = "- Feature of new shop creation"
      %li
        = "- Simple Paypal integration"
      %li 
        = "- Using camera for making photos for categories and products"
