%h2 Benefits for existing on-line content providers
%p
  Enhanced virusness.
  %br
  Are you into hi-res music, e-books, video training? Or perhaps you are a band and want to sell to your funs directly? Androcommerse can help you. We multiply your original content by popularity of smartphones and tablets to get super virusness. Did you know that your fun can retweet the store-front link or share your QR-code with another fun? Now you do. Bud don't let us down: be social! If you are a writer - share your progress on upcoming bestseller; if you are the musician, then share your new album samples. Perhaps share in hi-res. Heck, share in DXD; share your view on specific DAC, rip the referal proceeds directly from the manufacturer!
  %br
  You can organize your events and sell tickets! You can raffle tickets to your events using Inbound Marketing feature!
  %br 
  You can publish announcements about  your performance or masterclass directly to your storefront app. You can shock your fans with direct messages and greetings.

.col-sm-4.hidden-xs
  = image_tag "acomm_ship.png", class: 'img-responsive'

.col-xs-12.col-sm-8.text
  %br
  %p
    = "Special features for existing service providers"
  %p
    %ul 
      %li 
        = "- Calendar and time variations for your catalog items"
      %li
        = "- QR-code for promoting of storefront app using banners or T-Shirts"
      %li 
        = "- Inbound Marketing"
