%h1 Benefits for existing brick and mortar vendors
%p
  Why not to put up a poster with QR-code for store-front app download. Or to offer some discount for goods ordered via Androcomerce store-front. Regularly post stock updates, repost reviews of the goods you offer. Boldly assume role of subject matter expert, become go-to guy for you customers. Actively answer their question, proactively advice. Announce sales. Send congrats on customer’s birthday. Establish a club of enthusiasts around your store. Use  
  = link_to "Inbound Marketing ", '/advertise#inbound_marketing'
  feature, part of Androcomerce suite. This would allow you to launch real-time news channel read by customers at your store-front app. We're confident your sales will grow whilst Androcomerce will assume responsibility for all things technical.

%br
%br
%h1 Expanding your clientele base
%p
  Don't worry if you don't have website or online shop. Your very own Androcomerse store-front will be available on Android and iOS which shall let you cover the vast majority of mobile devices. PCs are so last season anyway. You may want to start by giving an interview in local paper, ask them to include web link to your very own Androcomerce Market page where your future customers will be able to see your info and download your store-fronts. You can have as many as you can swing! But why go local? Go full Monty, go global! Say you run a small cycle store in Hackney. Don't be shy; name your app "London Bikes 'n Bikers". These are still very early days for mobile commerce. Be there first, register your app at Android Play Market or Apple App Store. Next time somebody types in the search "buy bike" whilst in London will see your app popping up. This may cause an avalanche of orders.


.col-sm-4.hidden-xs
  = image_tag "acomm_ship.png", class: 'img-responsive'

%h2
  = "Special features for existing brick and mortar vendors"
.col-xs-12.col-sm-8.text
  %br
  %p
    %ul 
      %li
        = "- Mass upload of products from excel sheet"
      %li
        = "- QR-code for promoting of storefront app using banners and T-shirs"
      %li
        = "- Paypal integration for pre-payments"
      %li
        = link_to "- Inbound Marketing", '/advertise#inbound_marketing'
      %br
      %br
      %br

= render 'shared/enroll_button'