%h2 Retention of existing clientile, strenthening the bond
%p
  %br
  Why not to put a poster with QR-code to download store-front app. Or to offer some discount for goods ordered via Androcommerce store-front. Regularly post stock updates or repost reviews of the goods you store. Boldly assume role of subject matter expert, become go-to guy for you customers. Actively answer their question, proactively advise. Announce sales. Send congrats on customer birthday. Establish a club of enthusiasts around your store. Use inbound marketing feature, part of Androcommerce suite. This would allow you to launch a real-time ones channel read by customers at your store-front app. We're confident your sales will grow whilst. Androcommerce will assume responsibility for any technicalities.


%h2 Expanding your clientile base
%p
  %br
  Don't worry if you don't have website or online shop. Your very own Androcommerce store-front will be available on Android and iOS which shall let you cover the vase majority of mobile devices. PCs are so last season anyway. You may want to start by giving an interview in local paper, including web link to your very own Androcommerce Market page where your future customers will be able to pick your info and download your store-fronts - you can have as many as you can swing! But why go local? Go full monty, go global! Say your run a small cycle store in flackney. Don't be shy, call your app "London Bikes 'n Bikers". There are still very early days for mobile commerce. Be there first, register your app at Android Play Market or Apple App Store. Next time somebody types in the search "buy bike" whils in London will see your app popping up. This may cause an avalanche of orders.


.col-sm-4.hidden-xs
  = image_tag "acomm_ship.png", class: 'img-responsive'

.col-xs-12.col-sm-8.text
  %br
  %p
    = "Special features for existing brick-and-mortare vendors"
  %p
    %ul 
      %li
        = "- Mass upload of product s from excel sheet"
      %li
        = "- QR-code for promoting of storefront app using banners and T-shirs"
      %li
        = "- Paypal integration for pre-payments"
      %li
        = "- Inbound Marketing"
