%h1 Benefits for existing on-line businesses
%p
  %b Expanding your client base.
  %br
  Good news you've already got your online presence. But check out this chart:

  = image_tag "online-chart.jpg", class: 'img-responsive center-block'

  %br

  What do you think will happen to PC-based surfing within say 2 years? Right. It's share will diminish even further. Mobile and tablet surfing is already on rampage. Let's start getting ready today. We're not asking to redo your website, to make it compatible with mobile form factor. Instead we offer you to complement your existing website with powerful concept of mobile app. This effectively means enabling constant presence of customer in your shop. And that’s regardless whether he is online or offline.
  %br
  %br
  That's right; your store app will work even when the customer is off-line. He'll still be able to browse the store catalogue, send you questions, add items to the basket and even place order. Once device gets connected all actions will automatically complete. Have you ever noticed a crowd bored to death with their smartphones whilst on flaky internet connection on a train or deeply inside concrete building? They will all finally have something to do. And that is to browse your store, to make you rich.



%h1 Special features for existing on-line vendors
.col-sm-4.hidden-xs
  = image_tag "online_down_smooth.gif", class: 'img-responsive'
.col-xs-12.col-sm-8.text
  %br
  %p
  %p
    %ul 
      %li
        = "- Offline browsing and addition to shopping basket"
      %li
        = "- Bulk upload of products from MS Excel spread sheet or .csv file"
      %li
        = "- QR-code for promoting of storefront app using posters, t-shirts etc"
      %li 
        = link_to "- Inbound Marketing", '/advertise#inbound_marketing'
      %br
      %br
      %br

= render 'shared/enroll_button'