%h2 Benefits for existing on-line business
%p
  Expantion of your clientile base.
  %br
  Good news you've already got your online presence. But check out this chart:

  = image_tag "online-chart.jpg", class: 'img-responsive center-block'

  %br

  What do you think will happen to PC-based serfing within say 2 years? Right. It's share will deminish even further. Mobile and tablet serfing is already on rampage. Let's start getting ready today. We're not asking to redo your website, to make it compatible with mobile form factor. Instead we offer you much more: to complement your existing website with powerful concept of mobile app. Which effectvely means enabling constatnt presence of customer in your shop. Regardless whether he is online or offline.
  %br
  That's right, your store app will work even when the customer is off-line. He'll still be able to browse the store catalogue, send you questions, add items to the basket and even hit order. Once device gets connected all actions will automaticaly complete. Have you ever noticed a crowd borred to death with their smartphones whilst on flaky train connection or deeply inside concrete building? They will all finally have something to do. And that's to browse your store, to make you rich.

.col-sm-4.hidden-xs
  = image_tag "acomm_ship.png", class: 'img-responsive'

.col-xs-12.col-sm-8.text
  %br
  %p
    = "Special features for existing on-line vendors"
  %p
    %ul 
      %li
        = "- Offline browsing and addition to shopping cart"
      %li
        = "- Mass upload of products from excel sheet"
      %li
        = "- QR-code for promoting of storefront app using banners or T-Shirts"
      %li 
        = "- Inbound Marketing"
