%h1 Who did we build it for
%p
  Foremost we designed Androcommerce as attractive solution for  small business and start-ups.
  Traditionally e-commerce providers targeted large sippliers and well established brands.
  But not all e-commerce platforms were born equal. Instead a global commerce which is trully global: trade bariers are destroyed, discrimination is erased. We invite you to join on this exciting journey regardless of your business pedigree, geographical location, or size of your balance sheet. Are you having your drreams in Brazil, England, Africa or China? Common in, join us, together we can make it come true!

/ %h1 How does it work
/ .step-circle
/   .step-circle-text
/     Download Vendor App
/ %em.icon-chevron-thin-right.huge-icon
/ .step-circle
/   .step-circle-text
/     Create new store
/ %em.icon-chevron-thin-right.huge-icon
/ .step-circle
/   .step-circle-text
/     Populate store catalogue with doods or services
/ %em.icon-chevron-thin-right.huge-icon
/ .step-circle
/   .step-circle-text
/   Publish the Storefront app
/ %em.icon-chevron-thin-right.huge-icon
/ .step-circle
/   .step-circle-text
/     Promote your Storefront app 

%h1 Still thinking?
.col-xs-12.row.text-center
  .col-sm-4.col-xs-12
    = link_to "Benefits and ideas for existing brick-and mortare business", existing_vendors_path
  .col-sm-4.col-xs-12
    = link_to "Benefits and ideas for existing on-line business", existing_online_path
  .col-sm-4.col-xs-12
    = link_to "Benefits and ideas for existing service providers", service_providers_path

.col-xs-12.row.text-center
  .col-sm-4.col-xs-12
    = link_to "Benefits for on-line content providers", content_providers_path
  .col-sm-4.col-xs-12
    = link_to "Benefits for begginning vendors", beginners_path
  .col-sm-4.col-xs-12
    = link_to "For those who is still unsure", unsure_path

%br

= render 'shared/enroll_button'