%p
  You can work with Vendor app using your Windows, Mac OS X or Linux. This is good alternative if you don’t have Android device at your hands or for more quick copy-paste and drag-n-drop operations with your desktop files.
  %br
  %br
  There are several options to do this. We recommend to use 
  =link_to "Genymotion", "https://www.genymotion.com" 
  emulator for this purpose.
  %br
  %br
  There are 3 steps.

%h3 Step 1
%p
  Download Free version of Genymotion emulator for your Operating System. Just go by this link: 
  %br
  = link_to 'https://www.genymotion.com/?utm_source=dlvr.it&utm_medium=twitter#!/download', "https://www.genymotion.com/?utm_source=dlvr.it&utm_medium=twitter#!/download"
  %br
  %br
  Before downloading you will be asked to register. It’s free.
  %br
  %br
  Install your emulator after downloading.
  %br
  %br
  Start Genymotion and choose the Google Galaxy Nexus image running Android version 4.3
  %br
  = image_tag "genymotion_screenshot1.jpg", class: 'img-responsive'

%h3 Step 2 
%p
  %b Install Google Play Services.
  %br
  %br
  Google Play Services is infrastructure of Google Play. By default this package is not included into Genymotion devices.
  %br
  %br
  To install Google Play Services do the following:
  %br
  %br
  Download the signed Google Play Services ZIP file (for Jelly Bean) and save it locally on your Mac or PC. (For your convenience you can get it 
  = link_to 'here', 'https://goo.im/gapps/' 
  or 
  = link_to 'here', 'https://goo.im/gapps/gapps-jb-20130813-signed.zip/'
  )
  %br
  %br
  Drag you local copy of the ZIP file directly into the Genymotion emulator 
  %br 
  %br
  = image_tag "genymotion_screenshot2_1.jpg", class: 'img-responsive'
  %br
  %br
  You should get a confirmation that the emulator recognizes the file. Click OK and wait for the install to finish
  %br
  %br
  = image_tag "genymotion_screenshot2_2.jpg", class: 'img-responsive'
  %br
  %br
  %b Click OK again, then shut down the Genymotion emulator and restart it.
  %b At this point, you will be able to see the Google Play Store icon on the emulator:
  %br
  = image_tag "genymotion_screenshot2_3.jpg", class: 'img-responsive'

  %h3 Step 3
  %p
    Install Androcommerce Vendor app using Google Play app inside the emulator.
    %br
    %br
    If you faced with frequent crashes like “Unfortunately, Google+ has stopped”, please apply fix described 
    =link_to "here", "http://www.techrepublic.com/article/pro-tip-install-google-play-services-on-android-emulator-genymotion/"
    = "."

