%h2 Learn Androcommerce
%p
  We created Androcommerce with a simple concept in mind: social networking and workplace flexibility. We came up with an idea of how to establish a robust bond between the vendor and the customer. The vendor manages her stores through smartphone or tablet. She communicates with the customer via instant messaging. Any questions are answered in real time. The vendor enjoys unsurpassed workplace flexibility. She is not tied to her desk anymore. We understand only too well the challenges and pressure of modern life - the only thing that’s constant is change itself. Thus we built Androcommerce as a transparent, xinteractive and dynamic platform.

/ %h2 Infrastructure of Androcommerce

%h2 Androcommerce vs eBuy
%table.table
  %thead
    %tr
      %th Feature
      %th Androcommerce
      %th eBuy and Amazon Market Place
    %tbody
      %tr
        %td Type of business
        %td Platform for independent stores
        %td Common marketplace for many stores
      %tr 
        %td Type of User Interface
        %td Optimized for Smartphones and Tablets
        %td Optimized for Web browser
      %tr
        %td Pricing
        %td Free for small stores, small monthly payments for big ones
        %td Significant payment for any transaction. Prices tend to increast above inflation.
      %tr
        %td Branding and customization of store
        %td Full support, any modification
        %td Limited
      %tr 
        %td Eligible for vendors from any country? 
        %td Yes
        %td No, only for well-developed countries
      %tr
        %td Suitable for local brick and mortar stores?
        %td Yes
        %td No
      %tr 
        %td Viruseness, sharing of app between buyers
        %td Yes
        %td No
      %tr
        %td Social platform integration, support for viral spread of teh app
        %td Yes
        %td No
      %tr 
        %td Ability to upload store app to Google Play Market
        %td Yes
        %td No
      %tr 
        %td Ability to upload store app to Apple App Store
        %td Yes
        %td No
      %tr
        %td Ability to work offline
        %td Yes
        %td No

%h2 Androcommerce vs custom ecommerce websites
%table.table
  %thead
    %tr
      %th Feature
      %th Androcommerce
      %th e-commerce websites
  %tbody
    %tr
      %td Type of business
      %td Platform for independent stores
      %td Platform for independent stores
    %tr
      %td Type of User Interface
      %td Optimized for Smartphones and Tablets
      %td Optimized for PC Web browser
    %tr
      %td Pricing
      %td Free for small stores, small monthly payments for big ones
      %td Fluge expenses on development, significant expenses on maitrance
    %tr
      %td Ability for quick change of business model, switch from local to global
      %td Yes, for free
      %td No, very expensive
    %tr 
      %td Inbound marketing
      %td Embedded for free 
      %td As additional feature for $$$
    %tr
      %td Suitable for local brick and mortar stores?
      %td Yes
      %td No
    %tr 
      %td Viruseness, sharing of app between buyers
      %td Yes
      %td No
    %tr
      %td Ability to upload store app to Play Market
      %td Yes
      %td No
    %tr 
      %td Ability to upload store app to App Store
      %td Yes
      %td No
    %tr
      %td Ability to work offline
      %td Yes
      %td No

%h2 Features
%p
  = "- Visibility of storefront on Play Market, App Store and Androcommerce market"
  %br
  = "- Immediate access to your products even when off-line"
  %br
  = "- Customer can drop products to his shopping cart at ANYTIME and pay automatically in WI-FI zone"
  %br 
  = "- Local, Countrywide and Worldwide modes of delivery"
  %br
  = "- Integration with PayPal"
  %br 
  = "- Integration with any parcel delivery service working on escrow on pre-pay basis"
  %br
  = "- Inbound Marketing "
  %br
  = "- Instant messaging to customer"
  %br
  = "- Sales and customer stats"
  %br
  = "- Convinient user of built-in camera for catalogue annotation"
  %br 
  = "- Email notifications"
  %br
  = "- Order tracking starting from shopping basket all the way to delivery"
  %br
  = "- Email notifications"
  %br 
  = "- Push notifications on  Android or Apple devices"
  %br
  = "- Sharing storefront app with QRcode"
  %br 
  = "- Catalogue supports multiple products options"
  %br
  = "- Supports service oriented businesses"

= render 'shared/enroll_button'
