%h2 Learn Androcommerce
%p
  We created Androcommerce with a simple concept in mind: social networking and workplace flexiblity.
  We came up with an idea of how to establish a robust bond between the vendor and the customer. The vendor manages her stores through a smartphone or tablet. She communicates with the customer via instant messaging. Any questions are answered in real time. The vendor enjoys unsurpassed workplace flexibility. She is not tied to her desk anymore. We understand only too well the challenges and pressures of modern life - the only thing which is constant in a change itself. Thus we built Androcommerce as a transparent, interactive and dynamic platform.

/ %h2 Infrastructure of Androcommerce

%h2 Androcommerce vs eBuy
%table.table
  %thead
    %tr
      %th Parameter
      %th Androcommerce
      %th eBuy
    %tbody
      %tr
        %td Type of business
        %td Platform for independent stores
        %td Common marketplace for many stores
      %tr 
        %td Type of User Interface
        %td Optimized for Smartphones and Tablets
        %td Optimized for Web browser
      %tr
        %td Pricing
        %td Free for small stores, small monthly payments for big ones
        %td Significant payment for any transaction
      %tr
        %td Branding and customization of store
        %td Full support, any modification
        %td Limited
      %tr 
        %td Eligible for vendors from any country? 
        %td Yes
        %td No, only for well-developed countries
      %tr
        %td Suitable for local brick and mortar stores?
        %td Yes
        %td No
      %tr 
        %td Viruseness, sharing of app between buyers
        %td Yes
        %td No
      %tr
        %td Ability to upload store app to Play Market
        %td Yes
        %td No
      %tr 
        %td Ability to upload store app to App Store
        %td Yes
        %td No
      %tr
        %td Ability to work offline
        %td Yes
        %td No

%h2 Androcommerce vs custom e-commerce websites
%table.table
  %thead
    %tr
      %th Parameter
      %th Androcommerce
      %th e-commerce websites
  %tbody
    %tr
      %td Type of business
      %td Platform for independent stores
      %td Platform for independent stores
    %tr
      %td Type of User Interface
      %td optimized for Smartphones and Tablets
      %td Optimized for Web browser
    %tr
      %td Pricing
      %td Free for small stores, small monthly payments for big ones
      %td Fluge expenses on development, significant expenses on maitrance
    %tr
      %td Ability for quick change of business model, switch from local to global
      %td Yes, for free
      %td No, very expensive
    %tr 
      %td Inbound marketing
      %td Embedded for free 
      %td As additional feature for $$$
    %tr
      %td Suitable for local brick and mortar stores?
      %td Yes
      %td No
    %tr 
      %td Viruseness, sharing of app between buyers
      %td Yes
      %td No
    %tr
      %td Ability to upload store app to Play Market
      %td Yes
      %td No
    %tr 
      %td Ability to upload store app to App Store
      %td Yes
      %td No
    %tr
      %td Ability to work offline
      %td Yes
      %td No

%h2 Features
%p
  = "- Visibility of storefront on Play Market, App Store and Androcommerce market"
  %br
  = "- Immediate access to your products even in offline mode"
  %br
  = "- Customer can drop products to his shopping cart ANYTIME and pay automatically in wifi zone"
  %br 
  = "- Local, Countrywide and Worldwide modes of delivery"
  %br
  = "- Integrations with PayPal"
  %br 
  = "- Integration with any delivery service working with money sending"
  %br
  = "- Inbound marketing "
  %br
  = "- Direct communication with each user"
  %br
  = "- Stats about users"
  %br
  = "- Immidiate photos with camera"
  %br 
  = "- Fussy search over your products"
  %br
  = "- Order tracking from shopping cart till delivery"
  %br
  = "- Email notifications"
  %br 
  = "- Push notifications from Google and Apple"
  %br
  = "- Sharing storefront app with QRcode"
  %br 
  = "- Product variations for collecting additional data before purchase"
  %br
  = "- Readiness for selling of Services"

.col-xs-12.text-center
  = link_to "Enroll to be among first Androcommerce Vendors, or as we call them, Pilots!", 'http://androcommerce.com', class: 'btn btn-default btn-lg btn-enroll'
  

