%h1 Benefits for existing service providers
%p
  %b We can help your services sell! 
  %br
  You may want to create a catalogue of services you offer, link them to the calendar so the client can book his slot from his mobile. Androcomerce supports all of it. Say you are a golf pro, or the master of underground simulator swingery - you can publish practicing slots, or advertise the times you are available for coaching. Why not offer a package discount? Your schedule can be filled directly by your customers; you will save on front-desk costs.
  %br
  %br
  %b You can sell both services and accompanying products.
  %br
  Also you can list different calendar slots against the item in your catalogue. This will let client chose what better suits them based on your availability.

%h1 Special features for existing service providers

.col-sm-4.hidden-xs
  = image_tag "acomm_ship.png", class: 'img-responsive'

.col-xs-12.col-sm-8.text
  %br
  %p
    %ul 
      %li
        = "- Offline browsing and addition to shopping basket"
      %li 
        = "- Multiple calendar slots per item in your catalogue"
      %li
        = "- Bulk upload of products from MS Excel spread sheet or .csv file"
      %li
        = "- QR-code for promoting of storefront app using posters, t-shirts etc"
      %li 
        = link_to "- Inbound Marketing", '/advertise#inbound_marketing'
      %br
      %br
      %br

= render 'shared/enroll_button'