%h2 Benefits for existing service providers
%p
  We can help your services sell! 
  %br
  You may want to create a catalloge of services you offer, link them to the calendar so the client can book his slot from his mobile. Androcomerce supports all of it. Say you are a golf pro, or the master of underground simulator swingery - you can publish practicing slots, or advertise the times you are available for coaching. Why not offer a package discount? Your schedule can be filled directly by your customers, you will save on front-desk costs. 
  %br
  You can sell both services and accompanying products.
  %br
  Also you can add several variations to your catalog items so that your clients can select several calendar/time options if your resources are limited

.col-sm-4.hidden-xs
  = image_tag "acomm_ship.png", class: 'img-responsive'

.col-xs-12.col-sm-8.text
  %br
  %p
    = "Special features for existing service providers"
  %p
    %ul 
      %li
        = "- Offline browsing and addition to shopping cart"
      %li 
        = "- Calendar and time variations for your catalog items"
      %li
        = "- Mass upload of products from excel sheet"
      %li
        = "- QR-code for promoting of storefront app using banners or T-Shirts"
      %li 
        = "- Inbound Marketing"
