%h1 For those who is still unsure
%p
  %b Did we mention it is actually for free? 
  %br
  %br 
  Perhaps you are not very confident about all this. Perhaps you want to remain incognito until you know for sure. We can meet you half way! We can generate temporary storefront app for you. This will let you and your friends see your store as if it's gone public. Even though it hasn't. So just give it a go, create a store-front with 2-3 items in it, and demo it to your friends. Let's them have a play with it without going public. Get their blessing; incorporate feedback, then launch-launch-launch!


%h1 Special features for aspiring vendors

.col-sm-4.hidden-xs
  = image_tag "robot_thinking.png", class: 'img-responsive'

.col-xs-12.col-sm-8.text
  %br
  %p
    %ul 
      %li 
        = "- Wizard-driven creation of new on-line store"
      %li
        = "- Simple Paypal integration"
      %li 
        = "- Convenient use of smartphone camera to take picture for your catalogue. Use them for products and categories."
      %br
      %br
      %br

= render 'shared/enroll_button'