%nav.navbar.navbar-default.navbar-fixed-top#main-navbar
  .contaner-fluid
    .navbar-header.clearfix 
      = link_to root_path do
        = image_tag "logo.png", class: 'navbar-logo navbar-logo-big'
    %button.navbar-toggle.collapsed{ 'data-toggle' => 'collapse',  'data-target' => '#menu' }
      %i.icon.icon-add-to-list

    .collapse.navbar-collapse.navbar-right#menu
      %ul.nav.navbar-nav
        %li
          = link_to 'Learn', learn_path
        %li{ :class => ("active" if params[:action] == 'pricing') } 
          = link_to 'Pricing', pricing_path
        %li{ :class => ("active" if params[:action] == 'contact_us') } 
          = link_to 'Contact us', 'http://droidbrew.co.uk'
}
