!!!
%html
  
  %head
    %title Androcommerce
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    %link{:rel => 'stylesheet', :href => "//releases.flowplayer.org/5.5.0/skin/minimalist.css"}
    %script{:src => "http://releases.flowplayer.org/5.5.0/flowplayer.min.js"}

    %script{ src: "http://maps.googleapis.com/maps/api/js?sensor=false" }
    = csrf_meta_tags

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }

  %body
    = render 'layouts/navbar'
    #content.clearfix
      = yield
    = render 'layouts/footer'