!!!
%html
  
  %head
    %title Androcommerce
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    %link{:rel => 'stylesheet', :href => "//releases.flowplayer.org/5.5.0/skin/minimalist.css"}
    %script{:src => "http://releases.flowplayer.org/5.5.0/flowplayer.min.js"}

    %script{ src: "http://maps.googleapis.com/maps/api/js?sensor=false" }
    = csrf_meta_tags

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    / %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }

    = javascript_include_tag 'respond', 'data-turbolinks-track' => true   
    = javascript_include_tag 'html5shiv.min.js'
    <!--[if lte IE 8]>
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Roboto+Condensed"}
    <![endif]-->
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }

    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    / Apple Touch Icons
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    / Windows 8 Tile Icons
    %meta{:content => "smalltile.png", :name => "msapplication-square70x70logo"}
    %meta{:content => "mediumtile.png", :name => "msapplication-square150x150logo"}
    %meta{:content => "widetile.png", :name => "msapplication-wide310x150logo"}
    %meta{:content => "largetile.png", :name => "msapplication-square310x310logo"}

    %meta{:name => "Keywords", :content => "Anrocomerce, e-commerce, mobile e-commerce, mobile commerce, mobile shop, app, e-commerce platform, mobile storefron, droidbrew, android, ios"}
  %body
    = render 'layouts/navbar'
    #content.clearfix
      = yield
    = render 'layouts/footer'